<!DOCTYPE html>
<html>
  <head>
    <title><%= site_title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<div id="top_bar" class="container">
  			<h1><%= site_name %></h1>
  	</div>

  <body class="container">
<div id="nav_section" class="row">
  		<ul>
  			<a href=""><li>Nav item 1</li></a>
  		<a href=""><li>Nav item 2</li></a>
  	<a href=""><li>Nav item 3</li></a>
  <a href=""><li>Nav item 4</li></a>
  <a href=""><li>Nav item 5</li></a>
  	</div>
  	<div class="spacer"></div>
  	<div class="spacer"></div>
    <%= yield %>
  </body>
</html>
